.survey{
    background-color: darkred;
    
    color: gold;
    text-decoration: none;
    padding:0.5rem 1rem;

    display: block;
    width : 80vw;
    height: 100px;



}
.survey:hover{
    background-color: darkblue;
    /* 懸停特效 */




}
div.box1{
    width: 500px;
    height: 500px;
    background-color:black
}
div.box2{
    width: 50%;
    height: 50%;
    background-color:teal;
}
div.box3{
    width: 50vw;
    height: 50vh;
    background-color: darkmagenta;
}
.pic {
    width: 350px;
    height: 350px;
}