header {
	background-color: rgb(245, 241, 0);
	align-items: center;
	flex-wrap: wrap;
	position: sticky;
	top: 0;
	z-index: 5;
	box-shadow: 3px 3px 10px 3px rgb(16, 17, 17);

	h1 {
		color: $themeColor;
	}
	&:hover {
		background-color: red;
	}
}
